<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>南京基督教长乐路聚会--奉献</title>
        <% include common/style.ejs %>
        head>
    <body  role="document">
        <% include common/nav.ejs %>

        <div class="container theme-showcase" role="main">
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
        </div>
    </body>
    <% include common/js.ejs %>
</html>