<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    </head>
    <body>
         <div id="render"></div>
    </body>
    <script type="text/javascript" src="/apps/build/bundle_hello.js?222"></script>
</html>